# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

./src/semantic_seg_gen

*.png
# dataset, models & checkpoints
./src/semantic_seg_gen/__pycache__

./src/semantic_seg_gen/cityscapes/exp/train_on_train_set/train/train_00_result
./src/semantic_seg_gen/cityscapes/exp/train_on_train_set/train/train_0_result/*
./src/semantic_seg_gen/cityscapes/exp/train_on_train_set/train/train_1_result/*
./src/semantic_seg_gen/cityscapes/exp/train_on_train_set/train/train_2_result/*

./src/semantic_seg_gen/cityscapes/checkpoints/deeplab_cityscapes_xception71_trainfine_2018_09_08.tar.gz
./src/semantic_seg_gen/cityscapes/checkpoints/deeplab_cityscapes_xception71_trainvalfine_2018_09_08.tar.gz
./src/semantic_seg_gen/cityscapes/checkpoints/deeplabv3_cityscapes_train_2018_02_06.tar.gz


./src/semantic_seg_gen/cityscapes/checkpoints/deeplabv3_cityscapes_train_2018_02_06/*
./src/semantic_seg_gen/cityscapes/checkpoints/deeplab_cityscapes_xception71_trainvalfine_2018_09_08/*
./src/semantic_seg_gen/cityscapes/checkpoints/deeplab_cityscapes_xception71_trainfine_2018_09_08/*

./src/semantic_seg_gen/cityscapes/exp/train_on_train_set/vis/raw_segmentation_results/*
./src/semantic_seg_gen/cityscapes/exp/train_on_train_set/vis/segmentation_results/*

./src/semantic_seg_gen/cityscapes/gtFine/test/*
./src/semantic_seg_gen/cityscapes/gtFine/train/*
./src/semantic_seg_gen/cityscapes/gtFine/val/*

./src/semantic_seg_gen/cityscapes/leftImg8bit/test/*
./src/semantic_seg_gen/cityscapes/leftImg8bit/train/*
./src/semantic_seg_gen/cityscapes/leftImg8bit/val/*

./src/semantic_seg_gen/cityscapes/tfrecord/*
